.avatar-user {
    border-radius: 50%!important;
}
.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 6px;
}
body {
    background-color: #080d11;
    background-size:100% cover contain;  
    background-position: center;
    color: rgb(138, 131, 102);
}

#header {
    color: rgb(138, 131, 102);
}
a:link {
    color: rgb(138, 131, 102);
}   
a:visited {
    color: rgb(138, 131, 102);
} 
a:hover {
    color: rgb(94, 37, 45);
}

.left-body {
    margin-top: 70px;
}
#search {
    color: #2bbc8a;
}
.navwrap {
    margin-top: 70px;
    margin-left: 40px;
}
.nav-ul {
    list-style-type:none;
	margin:0;
	padding:0;
    overflow:hidden;
    font-size:30px;
}

.nav-ul li {
    float:left;
}
.nav-ul a {
    display: block;
    color: #2bbc8a;
    width: 80px;
    font-family: 楷体
}

#blogpage {
    margin-top: 40px;
}

.blogpage-ul a {
    font-size: 20px;
    font-family: 宋体
}

.blogpage-ul p {
    font-size: 15px;
    font-family: 宋体
}
.blogpage-ul {
    list-style-type:none;
}
.left-body {
    /* margin-left: 40px;
    margin-right: 40px;
    text-align:left;
    float: left;
    clear: left;
    overflow:hidden; */
    float: left;
    width: 220px;
    margin-left: 40px;
    margin-right: -100%;
}

.main-body {
    margin-right: 40px;
    margin-left: 300px;
    clear: right;
    float: right;
}
.footer-left {
    margin-left: 40px;
    clear: left;
    float: left;
}
.footer-right {
    margin-right: 60px;
    clear: right;
    float: right;
}
.footer-right-ul {
    list-style-type:none;
	margin:0;
    padding:0;
    font-size:20px;
    overflow:hidden;
}
.footer-right-ul li {
    float:right;
}

.footer-right-ul a {
    display: block;
    color: #2bbc8a;
    width: 90px;
    font-family: 楷体
}