* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "PingFag SC", "Microsoft YeHei", sans-serif;
  }

body {
    margin-top: -1px;
}
  img {
    width: 100%;
  }
  
  .home{
    position: relative;
    /* top: -10px; */
    z-index: 50;
  }

  .photo-list{
    display: flex;
    width: 300%;
    /* align-items: center; */
  }
  .car-photo {
    justify-content: center;
    height: 100%;
  }

.car-photo img {
    width: 100%;
  height: 100vh;
  /* height: 100%; */
  object-fit: none;
  /* object-position: left top; */
}