* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "PingFag SC", "Microsoft YeHei", sans-serif;
  }

body {
    margin-top: -1px;
}
  img {
    width: 100%;
  }

a{
  text-decoration:none;
}
.loop-wrap {
  /* position: relative;
    /* top: -10px; */
    /* z-index: 50; */ 
}

.loop-images-container{
  position: relative;
  z-index: -2;
  width: 500%;
  top:-20px;
  display: flex;
  transform: translate(0,0); /* 初始位置位移 */
  animation: loop 12s linear infinite;
}

/* 创建loop动画规则 */
/* 
 轮播5张，总耗时10s，单张应为2s(20%)
 单张切换动画耗时500ms，停留1500ms
*/
@keyframes loop {
    0% {transform: translate(0,0);}
    15% {transform: translate(0,0);} /* 停留1500ms */

    20% {transform: translate(-20%,0);} /* 切换500ms 位移-20% */
    35% {transform: translate(-20%,0);}

    40% {transform: translate(-40%,0);}
    55% {transform: translate(-40%,0);}

    60% {transform: translate(-60%,0);}
    75% {transform: translate(-60%,0);}

    80% {transform: translate(-80%,0);}
    95% {transform: translate(-80%,0);}

    100% {transform: translate(0,0);} /* 复位到第一张图片 */
}

.loop-image{
  justify-content: center;
  width: 100vw;
}
.loop-image img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.head{
  display: block;
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 999;
}

.blogname{
  margin-left: 50px;
  width: 500px;
  margin-right: 0px;
  margin-top: 10px;
  position: absolute;
  height: 40px;
}
.blogname p{
  color:#c9cacc;;
  font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.navbox{
  margin-left: 700px;
  width: 700px;
  margin-right: 0px;
  margin-top: 20px;
  position: absolute;
}
.navbox a{
  margin-right: 20px;
}

.title{
  background-color: black;
  width: 50%;
  margin-left: 25%;
  opacity: 0.75;
  height: 60px;
  transform: translateY(400px);
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.4em;
  color: #eee;
  z-index: -1;
}

.title p{
  position: absolute;
  margin-left: 25%;
  margin-top: 18px;
}
.title:hover {
  text-shadow: 0 0 .1em,0 0 .3em;
}
.next-page{
  position: absolute;
  margin-left: 47.5%;
  transform: translateY(490px);
}

a:link{
  color: white;
}
a:visited{
  color: white;
}



.main-body{
  height: 2000px;
  width: 100%;
}
.avatar-user {
  border-radius: 50%!important;
}
.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 6px;
}


#search {
  color: #2bbc8a;
}


#blogpage {
  margin-top: 40px;
}

.blogpage-ul a {
  font-size: 20px;
  font-family: 宋体
}

.blogpage-ul p {
  font-size: 15px;
  font-family: 宋体
}
.blogpage-ul {
  list-style-type:none;
}

.left-body {
  float: left;
  width: 20%;
  height: 1800px;
  margin-top: 20px;
  margin-left: 40px;
  /* margin-right: -100%; */
  background-color: green;
}
.left-body .name{
  margin-top: 15px;
  text-align: center;
}
.left-body .blog-talk{
  margin-top: 10px;
  text-align: center;
}
.left-body .blog-count{
  margin-top: 15px;
  text-align: center;
}

.left-body .blog-message{
  margin-left: 15px;
  margin-top: 20px;
}
.blog-message p{
  font-weight: bold;
  font-family: 楷体
}


.right-body {
  width: 71%;
  margin-top: 20px;
  margin-right: 50px;
  background-color: greenyellow;
  clear: right;
  float: right;
}

.right-body-img{
  width: 300px;
  height: 300px;
}
.right-body-img img{
  object-fit: cover
}







.footer{
  width: 100%;
  height: 164px;
  margin-top: 0px;
  background-color: gray;
}
.footer-left {
  margin-left: 40px;
  clear: left;
  float: left;
}
.footer-left p{
  font-weight: bold;
}
.footer-right {
  margin-right: 60px;
  clear: right;
  float: right;
}
.footer-right-ul {
  list-style-type:none;
  margin:0;
  padding:0;
  font-size:20px;
  overflow:hidden;
}
.footer-right-ul li {
  float:right;

}

.footer-right-ul a {
  display: block;
  color: black;
  width: 90px;
  font-weight: bold;
  font-family: 楷体
}