*{
    margin:0px 0px;     /* 到边框的距离 */
    padding: 0;
}

body {
    margin-top: -1px;
}
.box-1 {
    height: 100px;
    width: 100%;
}
.box-1 .box-1-p1{
    float: left;
    margin-left: 100px;
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
}
.box-1 .box-1-p2{
    float: left;
    margin-left: 100px;
    height: 100px;
    width: 300px;
    background-color: black;
    border-radius: 2em;
}


.box-2 {
    width: 400px;
    height: 100px;
}

.box-2-p1 {
    float: left;
    width: 50px;
    height: 30px;
    margin: 10px;
    background: gray;
    border: 6px;
    padding: 10px;
    border-radius: 5px;
}

.box-2-p1:hover {
    box-shadow: 10px 10px 25px 10px rgb(75, 72, 72);
    transition: 0.2s;
    display: block;
}

.box-2-p2 {
    float: left;
    width: 50px;
    height: 30px;
    margin: 10px;
    background: gray;
    border: 6px;
    padding: 10px;
}

.box-2-p2:hover {
    transition: 0.2s;
    display: block;
    transform: scale(1.1);
}

.box-2-p3 {
    float: left;
    width: 50px;
    height: 30px;
    margin: 10px;
    background: gray;
    border: 6px;
    padding: 10px;
    border-radius: 5px;
}

.box-2-p3:hover {
    transform: translateY(-30px);
    transition: 0.2s;
    display: block;
}

.box-3 {
    width: 300px;
    height: 100px;
}

.box-3-p1 {
    float: left;
    width: 50px;
    height: 30px;
    margin: 10px;
    background: gray;
    border: 6px;
    padding: 10px;
    border-radius: 5px;
}

.box-3-p1:hover {
    background-color: black;
    color: aliceblue;
    display: block;
    transition: 0.3s;
}

.box-3-p2 {
    width: 70px;
    height: 70px;
    background: gray;
    line-height: 70px;
    display: inline-block;
    position: relative;
    z-index: 99;
}

.box-3-p2::after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scaleY(0);
    background-color: black;
    position: absolute;
    transform-origin: bottom;
    z-index: -1;
}

.box-3-p2:hover::after {
    transition: 0.3s;
    transform: scaleY(1);
}

.box-3-p2:hover {
    transition: 0.3s;
    color: white;
}